.row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; */
  /* background-color: black; */
}
.center {
  justify-content: center;
}
.black {
  background-color: black;
}
/* ------------------Media------------ */
@media (min-width: 375px) {
  .row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .swiper {
    width: auto;
    right: 25px;
  }
  .dim {
    height: 190px;
    width: 165px;
  }

  .Name_Background {
    top: 9px;
    left: 22px;
    width: 145px;
  }
  .Name_Background_E {
    width: 145px;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
  .Card_Div {
    width: 170px;
    margin: 1px;
  }
  .energy {
    position: absolute;
    top: 2px;
    right: 2px;
  }
  .move1 {
    /* display:none; */
    width: 160px;
    left: 12%;
  }
  .MoveDamage {
    right: 20%;
    font-size: 6px;
  }
  .MoveDescription {
    margin-top: 30px;
    left: 10px;
    font-size: 6px;
    width: 80%;
  }
  .Move_Name {
    font-size: 6px;
  }
}

@media (min-width: 768px) {
  .row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .swiper {
    width: auto;
    right: 25px;
  }
}
@media (min-width: 961px) {
  .swiper {
    width: auto;
    /* right: 25px; */
  }
  .dim {
    height: 450px;
    width: 320px;
  }

  .Name_Background {
    position: absolute;
    top: 9px;
    left: 22px;

    width: 301px;
  }
  .row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .Card_Div {
    position: relative;
    margin: 10px;
  }
  .energy {
    position: absolute;
    top: 2px;
    right: 2px;
  }
  .move1 {
    display: flex;
    position: absolute;
    top: 50%;
    left: 12%;
    width: 320px;
  }

  .energy_move {
    margin-right: 2px;
  }
  .energy_sizeTop {
    height: 30px;
    width: 30px;
  }
  .energy_size {
    height: 23px;
    width: 23px;
    display: inline-block;
    align-self: center;
  }
  .MoveDamage {
    position: absolute;
    right: 15%;
    font-weight: 700;
    color: white;
    display: inline-block;
    align-self: flex-end;
    font-size: 17px;
  }
  .MoveDescription {
    position: absolute;
    margin-top: 50px;
    left: 0%;
    font-weight: 700;
    color: white;
    width: 90%;
    font-size: 17px;
  }
  .Move_Name {
    display: inline-block;
    align-self: flex-end;
    font-weight: 700;
    color: white;
    font-size: 17px;
  }
}

@media (min-width: 1366px) {
  .row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .move1 {
    left: 13%;
  }
}
