
.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}


.bn632-hover {
    background-image: linear-gradient(
      to right,
      #f5ce62,
      #e43603,
      #fa7199,
      #e85a19
    );
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}


.Home_container {
    position:relative;

}
.middlediv {
    position: absolute;
    top: 50%;
    right: 25%; 
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction:column;
    }
.middlediv h2 {
        color:white
    }
.threebirds {
    height: 100%;
    width: 100% ; 
    /* margin-bottom: -50px; Quick Fix for space on bottom */
    }

    @media (min-width: 375px) {

    .middlediv {
      position: absolute;
      top: 50%;
      left: 50%; 
    width: 300px;
      }
      }
